[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FeatureHashing"]
	path = FeatureHashing
	url = https://github.com/wush978/featurehashing
[submodule "Rcereal"]
	path = Rcereal
	url = https://github.com/wush978/rcereal
